.titulo {
  display: flex;
}

.city {
  margin: auto;
  font-size: 25px;
}

.btn {
  margin-top: 5px;
  margin-right: 5px;
  justify-content: flex-end;
  background-color: red;
  border-radius: 5px;
  color: aliceblue;
}

.btn:hover {
  color: red;
  background-color: aliceblue;
}

.temperatures {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-content: center;
  border: 2px solid gray;
  border-radius: 10px;
  height: 150px;
  background-color: skyblue;
}

.min {
  margin: auto;
}

.max {
  margin: auto;
}
